/* Layout */
/* Mobile */
@media (max-width: 375px) {
    /* Add your mobile styles here */
}

/* Desktop */
@media (min-width: 1440px) {
    /* Add your desktop styles here */
}

:root {
    /* Colors */
    /* Primary Colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    /* Background Gradients */
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);
    /* Circle Gradients */
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* font weight */
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-bold: bold;

    --font-size-400: 1.125rem;
    --font-size-500: 1.25rem;
    --font-size-600: 1.5rem;
    --font-size-700: 1.75rem;
    --font-size-900: 5rem;
    --font-size-800: 2rem;
}


/* Typography */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* - Font size (paragraphs): 18px */
    font-size: 22px;
    /* Regular weights: 500, 700, 800 */

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    /* https://fonts.google.com/specimen/Hanken+Grotesk */
}

.card {
    border-radius: 2rem;
    width: 720px;
    height: 480px;
    background-color: var(--white);
    box-shadow: var(--light-lavender) 6px 6px 5px;
    /*  */
    display: flex;
    justify-content: space-between;
}

.card-result {
    width: 50%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom,
            var(--light-slate-blue-background),
            var(--light-royal-blue-background));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.result-title {
    color: var(--light-lavender);
    font-weight: var(--font-weight-800);
    margin-top: 1%;
    margin-bottom: 1rem;
}

.result-score {
    margin-top: 1%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(to bottom,
            var(--violet-blue-circle),
            var(--persian-blue-circle));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-get-score {
    color: white;
    font-size: 4rem;
    font-weight: var(--font-weight-bold);
}

.result-total-score {
    color: var(--light-lavender);
}

.result-rank {
    text-align: center;
}

.rank {
    color: white;
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: var(--font-weight-bold);
}

.rank-text {
    color: var(--light-lavender);

    font-size: 1.2rem;
    width: 200px;
    font-weight: var(--font-weight-500);
}

.card-summary {
    width: 50%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-title {
    color: black;
    font-weight: var(--font-weight-800);
    margin-top: 1%;
    margin-bottom: 1rem;
}

.summary-rows {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.summary-row {
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    position: relative;
}

.summary-row img {
    padding-left: 1%;
}

.summary-item-title {
    padding-left: 10%;
    padding-right: 10%;
}

.summart-score {
    position: absolute;
    right: 0;
    padding-right: 1rem;
}

.summary-row:nth-child(1) {
    background-color: hsla(0, 100%, 67%, 0.08);
}

.summary-row:nth-child(1) .summary-item-title {
    color: var(--light-red);
}

.summary-row:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 0.08);
}

.summary-row:nth-child(2) .summary-item-title {
    color: var(--orangey-yellow);
}

.summary-row:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.08);
}

.summary-row:nth-child(3) .summary-item-title {
    color: var(--green-teal);
}

.summary-row:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.08);
}

.summary-row:nth-child(4) .summary-item-title {
    color: var(--cobalt-blue);
}

.summary-item-get-score {
    color: var(--dark-gray-blue);
}

.summary-item-total-score {
    color: gray;
}

.btn {
    margin-top: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background: var(--dark-gray-blue);
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.btn:hover {
    background: linear-gradient(to bottom,
            var(--light-slate-blue-background),
            var(--light-royal-blue-background));
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: blue;
}

@media screen and (max-width: 640px) {

    body {
        align-items: flex-start;
        background-color: white;
        height: fit-content;
        width: 100%;
    }

    .card {
        box-shadow: none;
        /*  */
        flex-direction: column;
        width: 100%;
        font-size: 0.9rem;
        display: block;
    }

    .card-result {
        border-radius: 0 0 1rem 1rem;
        width: 100%;
    }

    .rank {
        margin: 1rem;
    }

    .rank-text {
        width: 100%;
    }

    .card-summary {
        width: 100%;
        font-size: 0.9rem;
        display: block;
    }

    .summary-row {
        padding: 0.8rem;
    }

    main {
        width: 100%;
    }

    button {
        width: 100%;
    }

    .btn {
        margin-top: 0.8rem;
    }

    .attribution {
        width: 100%;
        font-size: 8px;
    }

}